body {
    background-color: #ffffff;
    color: #666666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-color: #003058;
    color: #ffffff;
}
header h1 {
    line-height: 140%;
    padding: 0.5rem;
}
nav {
    font-weight: bold;
    background-color: #f3f3f3;
}
h2 {
    color: #424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
dt {
    font-weight: bold;
    background-color: #003058;
}
.ut {
    font-weight: bold;
    color: #ba1c21;
}
footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
}
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto   ;
}