body {
    background: linear-gradient(to bottom, #CAF0F8, #fff);
    background-attachment: fixed;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
}

header {
    
    background-color: #0077B6;
    color: #fff;
    font-size: larger;
    grid-row: 1/2;
    grid-column: 2/-2;
}

header h1 {
    text-align: center;
}

header img {
    height: 100%;
    width: auto;
    float: left;
    text-wrap: nowrap;
}

main {

    background-color: #fff;
    grid-row: 3/4;
    grid-column: 2/-2;
    

}


nav {
    font-weight: bold;
    background-color: #48CAE4;
    position: sticky;
    top: 0;
    grid-row: 2/3;
    grid-column: 2/-2;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #023E8A;
    border-radius: 10px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: nowrap;
    list-style-type: none;

}

nav ul li {
    width: 100%;
    border-width: 1rem;
    border: #023E8A;
    border-radius: 10px;
}

p {
    margin: 10px;
}

main img {
    width: 50%;
    text-wrap: wrap;
    float: right;
    margin-left: 5px;
    border-radius: 10px;
}

footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    background-color: #90E0EF;
    grid-row: 4/5;
    grid-column: 2/-2;
}

h6 {
    margin: 5px;
}

#wrapper {
    display: grid;
    grid-auto-rows: 100px 50px 1fr auto;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

@media only screen and (max-width: 992px) {

    #wrapper {
        grid-template-columns: minmax(0px, 1fr) 768px minmax(0px, 1fr);
}

@media only screen and (max-width: 768px) {
    #wrapper {
        grid-template-columns: 100%;
}
    
}

@media only screen and (max-width: 508px) {

    img {
        display: none;
    }
}
}


@media only screen and (max-width: 315px){
    nav {
        font-weight: bold;
        background-color: #48CAE4;
        position: initial;
        top: 0;
        grid-row: 2/3;
        grid-column: 2/-2;
} 
}
